.container {
  border: 2px solid #9f9f9f;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.movies-list ul {
  padding: 0px;
}
.movies-list li {
  font-weight: bold;
  background-color: #efefef;
  color: #000;
  list-style: none;
  padding: 5px 0;
  margin: 2px auto;
  text-align: center;
  min-width: 500px;
}
#newMovie {
  background-color: rgba(225, 100, 100, 0.6);
  cursor: pointer;
}
